article#idea {
    width: 100%;
    padding: 80px 0;
    background-color: #81d29e;
}
article#idea>div {
    width: 1168px;
    margin: 0 auto;
}
article#idea>div>h3 {
    margin-bottom: 32px;
    font: 400 32px/1  'Pretendard-Regular', sans-serif; color: #292929;
}
article#idea>div>h3>b {
    font: 900 32px/1  'Pretendard-Black', sans-serif; color: #fff;
}
article#idea>div>div {
    display: flex;
}
article#idea>div>div>img {
    width: 200px; height: 200px;
    margin-right: 48px;
    box-sizing: border-box;
    border: 10px #fff solid;
    border-radius: 50%;
}
article#idea>div>div>p {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font: 400 16px/1.5  'Pretendard-Regular', sans-serif; color: #292929;
}
article#idea>div>div>p>span {
    display: block;
}