@use './variable' as *;
@use './mixin' as *;

header {
    width: $sizeF; height: $size64;
    @include flex;
    div {
        width: $sizeC;
        @include margin;
        @include flex;
        h1 {
            a {
                @include font_important($weight: 700, $fontsize: $size32, $color: $green);
            };
        };
    };
}
nav {
    ul {
        @include flex;
        li {
            height: $size64;
            margin-left: $size24;
            @include flex;
            position: relative;
            &:first-child {
                margin-left: 0;
            };
            a {
                @include font_basic($fontsize: $size12);
                z-index: 100;
                &.selected {
                    color: $green;
                };
            };
            span {
                width: calc($sizeF + $size24); height: $size64;
                @include positionTL($left: $size12 * -1);
            };
            &:hover {
                a {
                    color: $white;
                };
                span {
                    background-color: $green;
                };
            };
        };
    };
}